<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <!-- nav image -->
  <a class="navbar-brand" href="/">
    <img src="/assets/images/brand.png" width="30" height="30" class="d-inline-block align-top" alt=""
      loading="lazy">
  </a>

  <!-- navbar toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar items left-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.link }}">{{ item.name }} <span class="sr-only">(current)</span></a>
      </li>
      {% endfor %}
    </ul>

    <!-- navbar items right -->
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.contact %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.link }}" target="_blank">
          <i class="{{ item.icon }} fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>