<!-- <footer class="container">
    
    <div class="row">
        {% for item in site.data.footer %}
        <div class="col-sm3">
            <a href="{{ item.link }}">{{ item.name }}</a>
        </div>
        {% endfor %}
    </div>
    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
</footer>

-->


<!--

<footer class="page-footer fixed-bottom flex-shrink:none font-small blue-grey lighten-5">

    <div style="background-color: #21d192;">
        <div class="container">


            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
            </div>


        </div>
    </div>


    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">   

            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">Hoppjerka</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>"Person som byter arbete ofta" - Aka "Konsult"</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a class="dark-grey-text" href="#!">MDBootstrap</a></p>
                <p><a class="dark-grey-text" href="#!">MDWordPress</a></p>
                <p><a class="dark-grey-text" href="#!">BrandFlow</a></p>
                <p><a class="dark-grey-text" href="#!">Bootstrap Angular</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                {% for item in site.data.footer %}
                <p><a class="dark-grey-text" href="{{ item.link }}">{{ item.name }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
        <a class="dark-grey-text" href="https://github.com/Hoppjerka">Hoppjerka</a>
    </div>
</footer>

-->
















<!-- Footer -->
<footer class="page-footer font-small" style="background-color:#00838f">

    <!-- Footer Elements -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 d-flex justify-content-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Github -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Spotify -->
            <a class="sp-ic">
              <i class="fab fa-spotify fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer-copyright text-center py-3" style="background-color:#006972">© 2020 Copyright:
      <a href="https://github.com/Hoppjerka"> Hoppjerka</a>
    </div>
  </footer>